@model es_sett14.Models.Prodotto

@{
    ViewData["Title"] = "Dettaglio Prodotto";
}

<div class="container">
    <h1>@Model.Name</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/@Model.ImmagineCopertina" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-md-6">
            <h3>Prezzo: @Model.Prezzo.ToString("C")</h3>
            <p>@Model.Description</p>
            
           
        </div>
    </div>
    <a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Torna alla Vetrina</a>
</div>